<!DOCTYPE html>
<html>
  <head>
    <title>PhotoBasket</title>

    <link rel="stylesheet" href="{{ base_url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/dropzone.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/js/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/js/photoswipe/default-skin/default-skin.css">
    <link href='http://fonts.googleapis.com/css?family=Ruda' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <script src="{{ base_url }}/assets/js/jquery-2.1.4.min.js"></script>
    <script src="{{ base_url }}/assets/js/dropzone.js"></script>
    <script src="{{ base_url }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="{{ base_url }}/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
